USE [HRDB]
GO
drop table IF EXISTS [dbo].[checksystem];
/****** Object:  Table [dbo].[checksystem]    Script Date: 2021/8/31 上午 02:51:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checksystem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpNO] [nvarchar](50) NOT NULL,
	[DepName] [nvarchar](50) NULL,
	[CheckInTime] [datetime2](0) NULL,
	[CheckOutTime] [datetime2](0) NULL,
	[IsLateCheckIn] [nvarchar](1) NULL,
	[IsOnTimeCheckOut] [nvarchar](1) NULL,
	[WorkingHours] [decimal](18, 1) NULL,
	[UpdateTime] [datetime2](0) NOT NULL,
	[CreateTime] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_checksystem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[checksystem] ON 

INSERT [dbo].[checksystem] ([ID], [EmpNO], [DepName], [CheckInTime], [CheckOutTime], [IsLateCheckIn], [IsOnTimeCheckOut], [WorkingHours], [UpdateTime], [CreateTime]) VALUES (189, N'rd1', N'RD', CAST(N'2021-07-15T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-15T18:00:00.0000000' AS DateTime2), N'Y', N'Y', CAST(0.0 AS Decimal(18, 1)), CAST(N'2021-07-15T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-15T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[checksystem] ([ID], [EmpNO], [DepName], [CheckInTime], [CheckOutTime], [IsLateCheckIn], [IsOnTimeCheckOut], [WorkingHours], [UpdateTime], [CreateTime]) VALUES (190, N'rd1', N'RD', CAST(N'2021-07-16T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-16T18:00:00.0000000' AS DateTime2), N'Y', N'Y', CAST(9.0 AS Decimal(18, 1)), CAST(N'2021-07-16T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-16T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[checksystem] ([ID], [EmpNO], [DepName], [CheckInTime], [CheckOutTime], [IsLateCheckIn], [IsOnTimeCheckOut], [WorkingHours], [UpdateTime], [CreateTime]) VALUES (191, N'rd1', N'RD', CAST(N'2021-07-19T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-19T18:00:00.0000000' AS DateTime2), N'Y', N'Y', CAST(9.0 AS Decimal(18, 1)), CAST(N'2021-07-19T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-19T09:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[checksystem] OFF
GO
