USE [HRDB]
GO
drop table IF EXISTS [dbo].[checksystem];
/****** Object:  Table [dbo].[checksystem]    Script Date: 2021/9/2 下午 11:22:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[checksystem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EmpName] [nvarchar](50) NULL,
	[EmpNO] [nvarchar](50) NOT NULL,
	[DepName] [nvarchar](50) NULL,
	[CheckInTime] [datetime2](0) NULL,
	[CheckOutTime] [datetime2](0) NULL,
	[IsLateCheckIn] [nvarchar](1) NULL,
	[IsOnTimeCheckOut] [nvarchar](1) NULL,
	[WorkingHours] [decimal](18, 1) NULL,
	[UpdateTime] [datetime2](0) NOT NULL,
	[CreateTime] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_checksystem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[checksystem] ON 

INSERT [dbo].[checksystem] ([ID], [EmpName], [EmpNO], [DepName], [CheckInTime], [CheckOutTime], [IsLateCheckIn], [IsOnTimeCheckOut], [WorkingHours], [UpdateTime], [CreateTime]) VALUES (290, N'黑寡婦', N'hr1', N'HR', CAST(N'2021-07-20T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-20T18:00:00.0000000' AS DateTime2), N'N', N'Y', CAST(9.0 AS Decimal(18, 1)), CAST(N'2021-07-20T18:00:00.0000000' AS DateTime2), CAST(N'2021-07-20T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[checksystem] ([ID], [EmpName], [EmpNO], [DepName], [CheckInTime], [CheckOutTime], [IsLateCheckIn], [IsOnTimeCheckOut], [WorkingHours], [UpdateTime], [CreateTime]) VALUES (291, N'黑寡婦', N'hr1', N'HR', CAST(N'2021-07-21T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-21T18:00:00.0000000' AS DateTime2), N'N', N'Y', CAST(9.0 AS Decimal(18, 1)), CAST(N'2021-07-21T18:00:00.0000000' AS DateTime2), CAST(N'2021-07-21T09:00:00.0000000' AS DateTime2))
INSERT [dbo].[checksystem] ([ID], [EmpName], [EmpNO], [DepName], [CheckInTime], [CheckOutTime], [IsLateCheckIn], [IsOnTimeCheckOut], [WorkingHours], [UpdateTime], [CreateTime]) VALUES (292, N'黑寡婦', N'hr1', N'HR', CAST(N'2021-07-22T09:00:00.0000000' AS DateTime2), CAST(N'2021-07-22T18:00:00.0000000' AS DateTime2), N'N', N'Y', CAST(9.0 AS Decimal(18, 1)), CAST(N'2021-07-22T18:00:00.0000000' AS DateTime2), CAST(N'2021-07-22T09:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[checksystem] OFF
GO
