USE [HRDB]
drop table IF EXISTS [dbo].[factSchedule];
GO
/****** Object:  Table [dbo].[factSchedule]    Script Date: 2021/9/6 上午 01:28:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factSchedule](
	[KeySchedule] [int] IDENTITY(1,1) NOT NULL,
	[empID] [nvarchar](50) NULL,
	[HoursOfWork] [float] NULL,
	[Start] [varchar](50) NULL,
	[EndOfShift] [varchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[KeyAvailability] [int] NULL,
	[IsHoliday] [int] NULL,
	[Date] [datetime2](7) NULL,
	[ShiftId] [varchar](255) NULL,
 CONSTRAINT [PK__factSche__CD26B40FCDFBBE33] PRIMARY KEY CLUSTERED 
(
	[KeySchedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[factSchedule] ON 

INSERT [dbo].[factSchedule] ([KeySchedule], [empID], [HoursOfWork], [Start], [EndOfShift], [Title], [KeyAvailability], [IsHoliday], [Date], [ShiftId]) VALUES (2006, N'1', NULL, N'2021-08-21T09:00:00', N'2021-08-21T18:00:00', N'fdafdsa', NULL, NULL, NULL, NULL)
INSERT [dbo].[factSchedule] ([KeySchedule], [empID], [HoursOfWork], [Start], [EndOfShift], [Title], [KeyAvailability], [IsHoliday], [Date], [ShiftId]) VALUES (2007, N'2', NULL, N'2021-08-22T09:00:00', N'2021-08-22T18:00:00', N'Teaching', NULL, NULL, NULL, NULL)
INSERT [dbo].[factSchedule] ([KeySchedule], [empID], [HoursOfWork], [Start], [EndOfShift], [Title], [KeyAvailability], [IsHoliday], [Date], [ShiftId]) VALUES (2009, N'1', NULL, N'2021-08-23T09:00:00', N'2021-08-23T18:00:00', N'上班', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[factSchedule] OFF
GO
