USE [HRDB]
GO
drop table if exists dimEmpAvailability;
drop table if exists dimShift;
drop table if exists factSchedule;
drop table if exists IsHoliday;
drop table if exists LeaveOfAbsense;
drop table if exists ListSetting;
/****** Object:  Table [dbo].[dimEmpAvailability]    Script Date: 2021/9/8 上午 05:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimEmpAvailability](
	[AvailabilityId] [int] NOT NULL,
	[empno] [nvarchar](50) NULL,
	[DateAvailability] [datetime2](7) NULL,
	[StatusAvailability] [nvarchar](50) NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedTime] [datetime2](7) NULL,
 CONSTRAINT [PK_dimEmployeeAvailability] PRIMARY KEY CLUSTERED 
(
	[AvailabilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dimShift]    Script Date: 2021/9/8 上午 05:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dimShift](
	[KeyShift] [int] IDENTITY(1,1) NOT NULL,
	[DimShift] [nvarchar](50) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
	[Hours] [float] NULL,
	[Position] [nvarchar](50) NULL,
 CONSTRAINT [PK__dimShift__47705F70A091DD4E] PRIMARY KEY CLUSTERED 
(
	[KeyShift] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[factSchedule]    Script Date: 2021/9/8 上午 05:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[factSchedule](
	[KeySchedule] [int] IDENTITY(1,1) NOT NULL,
	[empID] [nvarchar](50) NULL,
	[HoursOfWork] [float] NULL,
	[Start] [varchar](50) NULL,
	[EndOfShift] [varchar](50) NULL,
	[Title] [nvarchar](50) NULL,
	[KeyAvailability] [int] NULL,
	[IsHoliday] [int] NULL,
	[Date] [datetime2](7) NULL,
	[ShiftId] [varchar](255) NULL,
 CONSTRAINT [PK__factSche__CD26B40FCDFBBE33] PRIMARY KEY CLUSTERED 
(
	[KeySchedule] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IsHoliday]    Script Date: 2021/9/8 上午 05:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IsHoliday](
	[KeyDate] [int] IDENTITY(1,1) NOT NULL,
	[FullDate] [datetime2](7) NULL,
	[IsHoliday] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveOfAbsense]    Script Date: 2021/9/8 上午 05:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveOfAbsense](
	[APPLICATIONNO] [varchar](255) NOT NULL,
	[TYPEOFFORM] [varchar](255) NOT NULL,
	[empNo] [varchar](255) NOT NULL,
	[deptNo] [int] NOT NULL,
	[REQUESTDATE] [date] NOT NULL,
	[reason_id] [varchar](255) NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[STARTTIME] [time](7) NOT NULL,
	[ENDDATE] [date] NOT NULL,
	[ENDTIME] [time](7) NOT NULL,
	[DAYS] [float] NULL,
	[COMMENTS] [nvarchar](100) NULL,
	[HANDOFF] [nvarchar](50) NULL,
	[HANDOFFEMAIL] [varchar](255) NULL,
	[SUPPORTINGDOC] [nvarchar](max) NULL,
	[FILENAME] [nvarchar](50) NULL,
	[STATUS] [varchar](255) NULL,
	[Approval01MGR] [nvarchar](50) NULL,
	[Approval01Date] [smalldatetime] NULL,
	[Approval01Sig] [nvarchar](max) NULL,
 CONSTRAINT [PK__LeaveOfA__4AD829323DD693E6] PRIMARY KEY CLUSTERED 
(
	[APPLICATIONNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListSetting]    Script Date: 2021/9/8 上午 05:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListSetting](
	[code] [nvarchar](50) NOT NULL,
	[category] [nchar](50) NOT NULL,
	[desc_zh] [nvarchar](50) NOT NULL,
	[desc_en] [nchar](50) NULL,
 CONSTRAINT [PK_ListSetting] PRIMARY KEY CLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[dimShift] ON 

INSERT [dbo].[dimShift] ([KeyShift], [DimShift], [StartTime], [EndTime], [Hours], [Position]) VALUES (1, N'日班', CAST(N'09:00:00' AS Time), CAST(N'18:00:00' AS Time), 8, N'客服')
INSERT [dbo].[dimShift] ([KeyShift], [DimShift], [StartTime], [EndTime], [Hours], [Position]) VALUES (2, N'午班', CAST(N'11:00:00' AS Time), CAST(N'20:00:00' AS Time), 8, N'裝貨')
INSERT [dbo].[dimShift] ([KeyShift], [DimShift], [StartTime], [EndTime], [Hours], [Position]) VALUES (3, N'晚班', CAST(N'14:00:00' AS Time), CAST(N'23:00:00' AS Time), 8, N'結算')
SET IDENTITY_INSERT [dbo].[dimShift] OFF
GO
SET IDENTITY_INSERT [dbo].[factSchedule] OFF

INSERT [dbo].[factSchedule] ([empID], [HoursOfWork], [Start], [EndOfShift], [Title], [KeyAvailability], [IsHoliday], [Date], [ShiftId]) VALUES (N'1', NULL, N'2021-08-21T09:00:00', N'2021-08-21T18:00:00', N'指揮中心坐鎮', NULL, NULL, NULL, NULL);
INSERT [dbo].[factSchedule] ([empID], [HoursOfWork], [Start], [EndOfShift], [Title], [KeyAvailability], [IsHoliday], [Date], [ShiftId]) VALUES (N'2', NULL, N'2021-08-22T09:00:00', N'2021-08-22T18:00:00', N'日常訓練', NULL, NULL, NULL, NULL);
INSERT [dbo].[factSchedule] ([empID], [HoursOfWork], [Start], [EndOfShift], [Title], [KeyAvailability], [IsHoliday], [Date], [ShiftId]) VALUES (N'1', NULL, N'2021-08-23T09:00:00', N'2021-08-23T18:00:00', N'指揮中心坐鎮', NULL, NULL, NULL, NULL);
GO
SET IDENTITY_INSERT [dbo].[factSchedule] OFF
GO
INSERT [dbo].[ListSetting] ([code], [category], [desc_zh], [desc_en]) VALUES (N'R01', N'REASON_ID ', N'病假', N'Sick Leave       ')
INSERT [dbo].[ListSetting] ([code], [category], [desc_zh], [desc_en]) VALUES (N'R02', N'REASON_ID ', N'事假', N'Personal Leave   ')
INSERT [dbo].[ListSetting] ([code], [category], [desc_zh], [desc_en]) VALUES (N'R03', N'REASON_ID ', N'特休', N'Annual Paid Leave')
GO
ALTER TABLE [dbo].[LeaveOfAbsense]  WITH CHECK ADD  CONSTRAINT [FKdlv9ihu85m3vwqmwqumqll20h] FOREIGN KEY([deptNo])
REFERENCES [dbo].[departmentDetail] ([dept_no])
GO
ALTER TABLE [dbo].[LeaveOfAbsense] CHECK CONSTRAINT [FKdlv9ihu85m3vwqmwqumqll20h]
GO
