	.overtime {
            background-color: rgb(245, 233, 245);
            height: 800px;
            width: 700px;
            margin: auto;
            border-radius: 10px;
            text-align: center;
        }

        .switch {
            /*==設定開關鈕的長寬==*/
            position: relative;
            width: 65px;
            height: 30px;
            line-height: 30px;
            margin: auto;
        }

        .switch-checkbox {
            position: absolute;
            display: none;
        }

        .switch-label {
            display: block;
            overflow: hidden;
            cursor: pointer;
            border-radius: 20px;
            margin: auto;
        }

        .switch-txt {
            display: block;
            width: 200%;
            margin-left: -100%;
            transition: margin 0.3s ease-in 0s;
        }

        .switch-txt::before,
        .switch-txt::after {
            display: block;
            float: right;
            width: 50%;
            font-size: 13px;
            color: #fff;
            font-weight: bold;
            box-sizing: border-box;
        }

        /*==開關鈕底色(開啟時)==*/
        .switch-txt::after {
            content: attr(turnOn);
            padding-left: 10px;
            background: #1ba0ef;
            color: #fff;
        }

        /*開關鈕底色(關閉時)*/
        .switch-txt::before {
            content: attr(turnOff);
            padding-right: 10px;
            background: rgb(26, 196, 167);
            color: #ccc;
            text-align: right;
        }

        /*==開關鈕的顏色與大小==*/
        .switch-Round-btn {
            position: absolute;
            display: block;
            width: 26px;
            height: 26px;
            margin: 2px;
            background: #fff;
            top: 0;
            bottom: 0;
            right: 35px;
            border-radius: 13px;
            transition: all 0.3s ease-in 0s;
        }

        .switch-checkbox:checked+.switch-label .switch-txt {
            margin-left: 0;
        }

        .switch-checkbox:checked+.switch-label .switch-Round-btn {
            right: 0;
        }

        .work {
            width: 300px;
            height: 50px;

        }

        .offwork {
            width: 300px;
            height: 50px;
        }

        .gowork {
           
            margin: auto;
            
        }

        #hidden_enent {
            width: 200px;
            height: 150px;
            background: #ccc;
            text-align: center;
            line-height: 150px;
        }

        /* 展開收合效果 */
        .slide_toggle {
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            /* 收合提示字串區塊, 還可加入自訂 CSS 效果 */
            line-height: 170%;
            background-color: #eed;
            border-radius: 7px;
            width: 300px;
            height: 30px;
            margin: auto;
        }

        .slide_toggle+div {
            display: none;
            margin-top: 10px;

            /* 隱藏註解文字區塊, 請加入自訂 CSS 效果 */
        }
        
        .mycss {
		    flex: 0 0 45%;
		    max-width: 45%;
		    text-align: center;
		    margin-left: 60px;
		}
       