.container-fluid .card .text-lg{
    opacity: 0;
}

.container-fluid .card a{
    color: #5a5c69 !important;
    
}

.container-fluid .card a:hover{
    color: #252525 !important;
}

@media only screen and (max-width: 768px){
    .container-fluid .card .text-lg{
        display: none;
    }
}