        fieldset{
            width: 600px;
            height: 400px;
            padding: .35em .625em .75em;
            margin: auto;
            border: 2px solid silver;
            background-color: lightgoldenrodyellow;
            text-align: center;
            border-radius: 20px;
        }
        .f2{
            width: 600px;
            height: 150px;
        }

        legend {
            padding: .5em;
            border: 0;
            width: auto;
            margin-bottom: 0px;
            float: none;
            font-size: 20px;
            font-family: 微軟正黑體;
            font-weight: 900;
        }

        .form1 {
            width: 200px;
            height: 20px;
            /* display: inline; */

        }
        .form2{
            width: 300px;
            height: 100px;
        }

        .t1 {
            width: 100px;
            float: left;
            margin-right: 20px;
        }

        .radio_1 {
            margin-right: 20px;
        }

        .d1 {
            text-align: left;
        }
        .d2{
         	text-align:center;
        }
        .overtime{
         	flex: 0 0 45%;
		    max-width: 45%;
		    text-align: center;
		    margin-left: 60px;
        
        }
        /* 展開收合效果 */
        .slide_toggle {
            text-align: center;
            cursor: pointer;
            font-weight: bold;
            /* 收合提示字串區塊, 還可加入自訂 CSS 效果 */
            line-height: 170%;
            background-color: #eed;
            border-radius: 7px;
            width: 300px;
            height: 30px;
            margin: auto;
        }

        .slide_toggle+div {
            display: none;
            margin-top: 10px;

            /* 隱藏註解文字區塊, 請加入自訂 CSS 效果 */
        }
        
